.ContactForm-section{
    background: #1C140F;
}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 54px 0 63px 0;
}

.contact-wrapper h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 189.5%;
}
.contact-wrapper p{
    font-size: 13px;
    font-weight: 500;
    line-height: 189.5%;
    margin-bottom: 79px;
}
.form-wrapper {
    max-width: 671px;
    width: 100%;
}
.form-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-wrapper input,
.form-wrapper textarea{
    border-radius: 9px;
    border: 0.6px solid #CECECE;
    background: rgba(255, 255, 255, 0.07);
    outline: none;
    padding: 15px 15px;
    color: #fff;
}
.form-wrapper input::placeholder,
.form-wrapper textarea::placeholder{
    color: #fff;
    padding: 5px;
}
.form-wrapper label{
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
    line-height: 175.4%; 
    letter-spacing: -0.3px;
}
.name-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 27px;
}
.name,
.message,
.email{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#message{
    min-height: 232px;
    resize: none;
}
.form-wrapper input[type=submit]{
    font-size: 16px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: 204.3%; 
    padding: 10px 48px;
    max-width: 193px;
    width: 100%;
    border-radius: 10px;
    background: #DC7000;
    border: 1px solid transparent;
    cursor: pointer;
}
.submit-wrap{
    display: flex;
    align-items: center;
    justify-content: end;
}
input[type="email"]:focus,
.form-wrapper input:not([type="submit"]):focus,
.form-wrapper textarea:focus {
    border: 1px solid #fefe65;
    outline: 0;
    padding-right: 10px;
}

@media screen and (max-width:990px) {
    .name-wrap {
        grid-template-columns:  1fr;
        
    }
}